# EditorConfig Documentation: http://EditorConfig.org

# top-most EditorConfig file
root = true

# every file
[*]
# set default charset
charset = utf-8
# Unix-style newlines with a newline ending
end_of_line = lf
insert_final_newline = true

# html file
[*.html]
# 4 space indentation
indent_style = space
indent_size = 2

# javascript file
[*.js]
# 2 space indentation
indent_style = space
indent_size = 2

# css file
[*.css]
# 4 space indentation
indent_style = space
indent_size = 4

# markdown file
[*.md]
trim_trailing_whitespace = false

# files matches exactly to either package.json
[*.json]
indent_style = space
indent_size = 2
